.profile__button-edit-image {
    background-image: url(../../../images/profile-button-edit-image.svg);
    background-repeat: no-repeat;
    background-position: center;
    min-width: 10px;
    min-height: 10px;
}