.profile__button-add-image {
    background-image: url(../../../images/profile-button-add-image.svg);
    background-repeat: no-repeat;
    background-position: center;
    min-width: 22px;
    min-height: 22px;
}